<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>
  <body>
    <% include partials/navbar %>

    <div class="container">
        <h1><center><%= title %></center></h1>
        <p><center>Welcome to <%= title %></center></p>

        <% include shop/products %>
    </div>

    <% include partials/footer %>
  </body>
</html>
